.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  padding: 1.25rem;

  background-color: rgba(0, 0, 0, 0.9);
  height: 100vh;
  width: 100%;
  z-index: 1;

  display: none;
}

.modal-container.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  width: 100%;
  max-width: 480px;
  background-color: #aaa;
  padding: 1.25rem;
  border: 5px solid #ddd;
  border-radius: 4px;
  display: flex;
  /* text-align: center; */
  flex-direction: column;
  align-items: center;
}

.modal-content {
  color: #eee;
  margin-bottom: 2.50rem;
}

.modal-content a {
  text-decoration: none;
  color: #fff;
}