@import 'modal.css';
@import 'button.css';

:root {
  --white: #fff;
  --gray-50: #bbbbbb;
  --gray-100: #e1e1e6;
  --gray-300: #c4c4cc;
  --gray-400: #8d8d99;
  --gray-600: #323238;
  --gray-700: #29292e;
  --gray-800: #202024;
  --gray-900: #121214;

  --sky-300: #0891b2;
  --sky-500: #22d3ee;

  --red-500: #F75A68;
  --yellow: #facc15
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  background-color: var(--gray-700);
}

.nav-container {
  height: 5rem;
  background-color: var(--gray-800);
  width: 100%;
  padding: 0 1.25rem;
  display: flex;
  align-items: center;

}

.nav-main {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-main h1 {
  color: var(--white);
  font-size: 2.25rem;
}

.nav-main .contact-link {
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.form-container {
  width: 100%;
  padding: 2.50rem 1.25rem;
}

.card-form {
  background-color: var(--gray-400);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  padding: 1.25rem;
}

.form-control {
  margin-bottom: 1.25rem;

}

.form-control label {
  display: none;
}

.error-msg {
  margin-top: 0.25rem;
  color: var(--red-500);
}

.form-input {
  height: 2.5rem;
  width: 100%;
  border-radius: 4px;
  padding: 0 1.25rem;
  font-size: 0.85rem;
  border: 0;
  outline: 0;
}

.form-input::placeholder {
  color: var(--gray-400);
}

.form-input:disabled {
  background-color: var(--gray-50);
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.list-container {
  width: 100%;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list-item {
  width: 100%;
  max-width: 900px;
  background-color: var(--gray-400);
  margin-bottom: 1.5rem;
  border-radius: 8px;
  padding: 1.25rem;
}

.card-list-item h3 {
  color: var(--gray-900);
  font-size: 1.125rem;
  margin-bottom: 0.25rem;
}

.card-list-item p:nth-child(2) {
  color: var(--gray-100);
  font-size: 0.85rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.card-list-item p:nth-child(3) {
  color: var(--gray-600);
  font-size: 0.75rem;
  font-weight: 700;
  margin-top: 0.25rem;
}